@model IEnumerable<FindAFriend.Models.FriendRequests>
@{
    ViewData["Title"] = "Index";
}

<h3>Dina Vänförfrågningar!</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Avsändare
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                <a asp-controller="Friends" asp-action="Create" asp-route-id="@item.RequestID">Acceptera</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestID">Avböj</a>
            </td>
        </tr>
}
    </tbody>
</table>
