@model FindAFriend.Models.Friends
@using FindAFriend.Controllers;


@{
    ViewData["Title"] = "Create";
}



<h4>Vill du bli vän med @FriendRequestsController.TargetProfile.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <!----<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input type="hidden" asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <!----<label asp-for="FriendWith" class="control-label"></label>-->
                <input type="hidden" asp-for="FriendWith" class="form-control" />
                <span asp-validation-for="FriendWith" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Acceptera" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till vänförfrågningar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
