@model FindAFriend.Models.Friends

@{
    ViewData["Title"] = "Delete";
}

<h3>Är du säker på att du vill ta bort din kompis?</h3>
<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FriendWith)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FriendshipID" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till vänner</a>
    </form>
</div>